/vendor
/node_modules
composer.lock
package-lock.json
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/coverage
.DS_Store
phpunit.xml.bak
.phpunit.cache
.php-cs-fixer.cache
.phpcs.cache
.phpstan.cache
.php_cs.cache
phpstan.neon.dist